<%= form_for(@hwm_comment) do |f| %>
  <% if @hwm_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hwm_comment.errors.count, "error") %> prohibited this hwm_comment from being saved:</h2>

      <ul>
      <% @hwm_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hwm_viewpoint_id %><br />
    <%= f.number_field :hwm_viewpoint_id %>
  </div>
  <div class="field">
    <%= f.label :hwm_user_account_id %><br />
    <%= f.number_field :hwm_user_account_id %>
  </div>
  <div class="field">
    <%= f.label :comment_content %><br />
    <%= f.text_area :comment_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
