<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @hwm_user_account.nickname %>
</p>

<p>
  <b>Realname:</b>
  <%= @hwm_user_account.realname %>
</p>

<p>
  <b>Certno:</b>
  <%= @hwm_user_account.certno %>
</p>

<p>
  <b>Certtype:</b>
  <%= @hwm_user_account.certtype %>
</p>

<p>
  <b>Mobile:</b>
  <%= @hwm_user_account.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @hwm_user_account.email %>
</p>

<p>
  <b>Encrypt pwd:</b>
  <%= @hwm_user_account.encrypt_pwd %>
</p>

<p>
  <b>Hwm studio:</b>
  <%= @hwm_user_account.hwm_studio_id %>
</p>


<%= link_to 'Edit', edit_hwm_user_account_path(@hwm_user_account) %> |
<%= link_to 'Back', hwm_user_accounts_path %>
