<p id="notice"><%= notice %></p>

<p>
  <b>Hwm user account:</b>
  <%= @hwm_studio.hwm_user_account_id %>
</p>

<p>
  <b>Auth type:</b>
  <%= @hwm_studio.auth_type %>
</p>

<p>
  <b>Tag:</b>
  <%= @hwm_studio.tag %>
</p>

<p>
  <b>Industry:</b>
  <%= @hwm_studio.industry %>
</p>

<p>
  <b>Nature:</b>
  <%= @hwm_studio.nature %>
</p>

<p>
  <b>Studioname:</b>
  <%= @hwm_studio.studioname %>
</p>

<p>
  <b>Studio intro:</b>
  <%= @hwm_studio.studio_intro %>
</p>

<p>
  <b>Studio desc:</b>
  <%= @hwm_studio.studio_desc %>
</p>

<p>
  <b>Country:</b>
  <%= @hwm_studio.country %>
</p>

<p>
  <b>Province:</b>
  <%= @hwm_studio.province %>
</p>

<p>
  <b>City:</b>
  <%= @hwm_studio.city %>
</p>

<p>
  <b>District:</b>
  <%= @hwm_studio.district %>
</p>

<p>
  <b>Address:</b>
  <%= @hwm_studio.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @hwm_studio.tel %>
</p>

<p>
  <b>Email:</b>
  <%= @hwm_studio.email %>
</p>

<p>
  <b>Fax:</b>
  <%= @hwm_studio.fax %>
</p>

<p>
  <b>Corp repr:</b>
  <%= @hwm_studio.corp_repr %>
</p>

<p>
  <b>Share holder:</b>
  <%= @hwm_studio.share_holder %>
</p>

<p>
  <b>Employee number:</b>
  <%= @hwm_studio.employee_number %>
</p>

<p>
  <b>Reg no:</b>
  <%= @hwm_studio.reg_no %>
</p>

<p>
  <b>Reg addr:</b>
  <%= @hwm_studio.reg_addr %>
</p>

<p>
  <b>Establish date:</b>
  <%= @hwm_studio.establish_date %>
</p>

<p>
  <b>Due date:</b>
  <%= @hwm_studio.due_date %>
</p>

<p>
  <b>Organize code:</b>
  <%= @hwm_studio.organize_code %>
</p>

<p>
  <b>Tax reg cert:</b>
  <%= @hwm_studio.tax_reg_cert %>
</p>

<p>
  <b>Verify state:</b>
  <%= @hwm_studio.verify_state %>
</p>

<p>
  <b>Verify reason:</b>
  <%= @hwm_studio.verify_reason %>
</p>


<%= link_to 'Edit', edit_hwm_studio_path(@hwm_studio) %> |
<%= link_to 'Back', hwm_studios_path %>
