<%= form_for(@hwm_label_type) do |f| %>
  <% if @hwm_label_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hwm_label_type.errors.count, "error") %> prohibited this hwm_label_type from being saved:</h2>

      <ul>
      <% @hwm_label_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label_type_content %><br />
    <%= f.text_field :label_type_content %>
  </div>
  <div class="field">
    <%= f.label :label_type_desc %><br />
    <%= f.text_area :label_type_desc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
