<p id="notice"><%= notice %></p>

<p>
  <b>Label type content:</b>
  <%= @hwm_label_type.label_type_content %>
</p>

<p>
  <b>Label type desc:</b>
  <%= @hwm_label_type.label_type_desc %>
</p>


<%= link_to 'Edit', edit_hwm_label_type_path(@hwm_label_type) %> |
<%= link_to 'Back', hwm_label_types_path %>
