<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hwm_fund_type.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @hwm_fund_type.desc %>
</p>


<%= link_to 'Edit', edit_hwm_fund_type_path(@hwm_fund_type) %> |
<%= link_to 'Back', hwm_fund_types_path %>
