<p id="notice"><%= notice %></p>

<p>
  <b>Cnname:</b>
  <%= @hwm_management_organization.cnname %>
</p>

<p>
  <b>Enname:</b>
  <%= @hwm_management_organization.enname %>
</p>

<p>
  <b>Short name:</b>
  <%= @hwm_management_organization.short_name %>
</p>

<p>
  <b>Capital:</b>
  <%= @hwm_management_organization.capital %>
</p>

<p>
  <b>Legal repr:</b>
  <%= @hwm_management_organization.legal_repr %>
</p>

<p>
  <b>Nature:</b>
  <%= @hwm_management_organization.nature %>
</p>

<p>
  <b>Found date:</b>
  <%= @hwm_management_organization.found_date %>
</p>

<p>
  <b>Invest field:</b>
  <%= @hwm_management_organization.invest_field %>
</p>

<p>
  <b>Desc:</b>
  <%= @hwm_management_organization.desc %>
</p>


<%= link_to 'Edit', edit_hwm_management_organization_path(@hwm_management_organization) %> |
<%= link_to 'Back', hwm_management_organizations_path %>
