<p id="notice"><%= notice %></p>

<p>
  <b>Product type:</b>
  <%= @hwm_product.product_type_id %>
</p>

<p>
  <b>Fund type:</b>
  <%= @hwm_product.fund_type_id %>
</p>

<p>
  <b>Product name:</b>
  <%= @hwm_product.product_name %>
</p>

<p>
  <b>Start date:</b>
  <%= @hwm_product.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @hwm_product.end_date %>
</p>

<p>
  <b>Due time:</b>
  <%= @hwm_product.due_time %>
</p>

<p>
  <b>Risk level:</b>
  <%= @hwm_product.risk_level %>
</p>

<p>
  <b>Risk control:</b>
  <%= @hwm_product.risk_control %>
</p>

<p>
  <b>State:</b>
  <%= @hwm_product.state %>
</p>

<p>
  <b>Establish date:</b>
  <%= @hwm_product.establish_date %>
</p>

<p>
  <b>Manage fee:</b>
  <%= @hwm_product.manage_fee %>
</p>

<p>
  <b>Custody fee:</b>
  <%= @hwm_product.custody_fee %>
</p>

<p>
  <b>Subscribe fee:</b>
  <%= @hwm_product.subscribe_fee %>
</p>

<p>
  <b>Redeem fee:</b>
  <%= @hwm_product.redeem_fee %>
</p>

<p>
  <b>Custody bank:</b>
  <%= @hwm_product.custody_bank %>
</p>

<p>
  <b>Expect profit:</b>
  <%= @hwm_product.expect_profit %>
</p>

<p>
  <b>Profit desc:</b>
  <%= @hwm_product.profit_desc %>
</p>

<p>
  <b>Raise size:</b>
  <%= @hwm_product.raise_size %>
</p>

<p>
  <b>Init capital:</b>
  <%= @hwm_product.init_capital %>
</p>

<p>
  <b>Recommend reason:</b>
  <%= @hwm_product.recommend_reason %>
</p>

<p>
  <b>Investment:</b>
  <%= @hwm_product.investment %>
</p>

<p>
  <b>Repay source:</b>
  <%= @hwm_product.repay_source %>
</p>

<p>
  <b>Financer:</b>
  <%= @hwm_product.financer %>
</p>

<p>
  <b>Financer desc:</b>
  <%= @hwm_product.financer_desc %>
</p>


<%= link_to 'Edit', edit_hwm_product_path(@hwm_product) %> |
<%= link_to 'Back', hwm_products_path %>
