<p id="notice"><%= notice %></p>

<p>
  <b>Hwm user account:</b>
  <%= @hwm_user_detail_info.hwm_user_account_id %>
</p>

<p>
  <b>Social account:</b>
  <%= @hwm_user_detail_info.social_account %>
</p>

<p>
  <b>Recommender:</b>
  <%= @hwm_user_detail_info.recommender %>
</p>

<p>
  <b>Recommender type:</b>
  <%= @hwm_user_detail_info.recommender_type %>
</p>

<p>
  <b>Cert valid date:</b>
  <%= @hwm_user_detail_info.cert_valid_date %>
</p>

<p>
  <b>Nationality:</b>
  <%= @hwm_user_detail_info.nationality %>
</p>

<p>
  <b>Province:</b>
  <%= @hwm_user_detail_info.province %>
</p>

<p>
  <b>City:</b>
  <%= @hwm_user_detail_info.city %>
</p>

<p>
  <b>District:</b>
  <%= @hwm_user_detail_info.district %>
</p>

<p>
  <b>Address:</b>
  <%= @hwm_user_detail_info.address %>
</p>

<p>
  <b>Postcode:</b>
  <%= @hwm_user_detail_info.postcode %>
</p>

<p>
  <b>Tel:</b>
  <%= @hwm_user_detail_info.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @hwm_user_detail_info.fax %>
</p>

<p>
  <b>Interest:</b>
  <%= @hwm_user_detail_info.interest %>
</p>

<p>
  <b>Sex:</b>
  <%= @hwm_user_detail_info.sex %>
</p>

<p>
  <b>Marriage:</b>
  <%= @hwm_user_detail_info.marriage %>
</p>

<p>
  <b>Education:</b>
  <%= @hwm_user_detail_info.education %>
</p>

<p>
  <b>Workunit:</b>
  <%= @hwm_user_detail_info.workunit %>
</p>

<p>
  <b>Occupation code:</b>
  <%= @hwm_user_detail_info.occupation_code %>
</p>

<p>
  <b>Income:</b>
  <%= @hwm_user_detail_info.income %>
</p>

<p>
  <b>Population:</b>
  <%= @hwm_user_detail_info.population %>
</p>

<p>
  <b>Asset:</b>
  <%= @hwm_user_detail_info.asset %>
</p>

<p>
  <b>Application number:</b>
  <%= @hwm_user_detail_info.application_number %>
</p>

<p>
  <b>Transaction date:</b>
  <%= @hwm_user_detail_info.transaction_date %>
</p>

<p>
  <b>Transaction time:</b>
  <%= @hwm_user_detail_info.transaction_time %>
</p>

<p>
  <b>Transaction account:</b>
  <%= @hwm_user_detail_info.transaction_account %>
</p>

<p>
  <b>Transaction channel:</b>
  <%= @hwm_user_detail_info.transaction_channel %>
</p>

<p>
  <b>Send bill choice:</b>
  <%= @hwm_user_detail_info.send_bill_choice %>
</p>

<p>
  <b>Send bill type:</b>
  <%= @hwm_user_detail_info.send_bill_type %>
</p>

<p>
  <b>Sail code:</b>
  <%= @hwm_user_detail_info.sail_code %>
</p>

<p>
  <b>Business code:</b>
  <%= @hwm_user_detail_info.business_code %>
</p>

<p>
  <b>Network code:</b>
  <%= @hwm_user_detail_info.network_code %>
</p>

<p>
  <b>Custom risk level:</b>
  <%= @hwm_user_detail_info.custom_risk_level %>
</p>

<p>
  <b>Self intro:</b>
  <%= @hwm_user_detail_info.self_intro %>
</p>

<p>
  <b>Edu background:</b>
  <%= @hwm_user_detail_info.edu_background %>
</p>

<p>
  <b>Certificate:</b>
  <%= @hwm_user_detail_info.certificate %>
</p>

<p>
  <b>Work intro:</b>
  <%= @hwm_user_detail_info.work_intro %>
</p>

<p>
  <b>Case intro:</b>
  <%= @hwm_user_detail_info.case_intro %>
</p>


<%= link_to 'Edit', edit_hwm_user_detail_info_path(@hwm_user_detail_info) %> |
<%= link_to 'Back', hwm_user_detail_infos_path %>
