<h1>Listing hwm_resource_pics</h1>

<table>
  <tr>
    <th>Source type</th>
    <th>Addr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hwm_resource_pics.each do |hwm_resource_pic| %>
  <tr>
    <td><%= hwm_resource_pic.source_type %></td>
    <td><%= hwm_resource_pic.addr %></td>
    <td><%= link_to 'Show', hwm_resource_pic %></td>
    <td><%= link_to 'Edit', edit_hwm_resource_pic_path(hwm_resource_pic) %></td>
    <td><%= link_to 'Destroy', hwm_resource_pic, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hwm resource pic', new_hwm_resource_pic_path %>
