<p id="notice"><%= notice %></p>

<p>
  <b>Source type:</b>
  <%= @hwm_resource_pic.source_type %>
</p>

<p>
  <b>Addr:</b>
  <%= @hwm_resource_pic.addr %>
</p>


<%= link_to 'Edit', edit_hwm_resource_pic_path(@hwm_resource_pic) %> |
<%= link_to 'Back', hwm_resource_pics_path %>
