<p id="notice"><%= notice %></p>

<p>
  <b>Link type:</b>
  <%= @hwm_resource_link.link_type %>
</p>

<p>
  <b>Source type:</b>
  <%= @hwm_resource_link.source_type %>
</p>

<p>
  <b>Addr:</b>
  <%= @hwm_resource_link.addr %>
</p>


<%= link_to 'Edit', edit_hwm_resource_link_path(@hwm_resource_link) %> |
<%= link_to 'Back', hwm_resource_links_path %>
